* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	background: #f3f7fa;
	font: 300 16px/20px $font;
	overflow-x: hidden;
	min-width: 320px;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

.container {
	max-width: 1140px;
}


.logo-img {
	display: inline-block;
	height: 50px;
}

.button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font: 700 18px $font;
	padding: 22px 27px 18px;
	background: $orange;
	color: #fff;
	border-radius: 31px;
	box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35), 2px 4px 0 0 #c67f0e;
	margin-bottom: 2px;
	cursor: pointer;

	&:hover{
		box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35), 2px 4px 0 0 #c67f0e, 0 7px 30px 0 $orange;
	}

	&:active {
		box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35);
		margin: 2px 0 0 0 ;
	}

	&--blue {
		background: $blue;
		box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35), 2px 4px 0 0 #3283d5;
		padding: 15px 40px;
		
		&:hover{
		box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35), 2px 4px 0 0 #3283d5, 0 7px 30px 0 $blue;
		}
		
		&:active {
		box-shadow: inset 0 6px 27px 0 rgba(255, 255, 255, .35);
		margin: 2px 0 0 0 ;
		}
	}
}

.main-title {
	@include font (35px, 700, 42px);
	text-transform: uppercase;

	&--white {
		color: #fff;
	}

	&--right {
		text-align: right;
	}

	&--indexed {
		z-index: 3;
		position: relative;
	}

	@media (max-width: 960px) {
		font-size: 30px;
		line-height: 37px;
	}

	@media (max-width: 480px) {
		font-size: 25px;
		line-height: 32px;
	}
}

.magazine {
	display: inline-block;
	@include size(94%, 600px);
	@include pos($t:150px, $l:36%);
	background: url('../images/background/magazine.png') no-repeat bottom right;
	pointer-events: none;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: box;
    background: #00000077;
    z-index: 10000;
    display: none;
} 

.orange, .blue, .bold{
	font-weight: 700;
}

.orange {
	color: $orange;
}

.blue {
	color: $blue;
}
