.courses {
	background:#F3F6F9;
	padding-bottom: 300px; //исправь

	&__list {
		margin: 70px 0 50px;
		font-size: 0;
		height: 90px;
		border: 1px solid #d7d7d7;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-item {
			@include font (14px, 300, 17px);
			width: calc(20% - 1px);
			height: 100%;
			position: relative;

			&:before {
				content: '';
				@include size(1px, 52px);
				@include pos($t:50%, $l: 0);
				transform: translateY(-50%);
				background: #d7d7d7;
			}

			&:first-child:before {
				display: none;
			}
		}

		&-link {
			display: inline-block;
			height: 100%;
			width: 100%;
			padding: 18px 23px;
			color: #999999;
			text-decoration: none;

			&:hover, &--active {
				background: #3399fe;
				color: #fff;
			}

			&--active {
				padding: 10px 23px;
			}
		}
	}

	&__wrapper {
		background: #fff;
		padding: 45px 0 50px 95px;
		border-radius: 5px;
		box-shadow: 0 6px 84px 0 rgba(172, 178, 185 , .16);
		position: relative;
    	min-height: 478px;


		&-subtitle {
			font-weight: 700;
			margin-bottom: 25px;
		}

		&-lessons {
			margin: 50px 0;
			position: relative;

			&:before {
				content:'';
				@include size(445px, 1px);
				@include pos ($t:-16px, $l:0);
				background: #ebeef1;
				box-shadow: 0 6px 84px 0 rgba(172, 178, 185 , .16);
			}

			&:after {
				content:'';
				@include size(445px, 1px);
				@include pos ($b:-23px, $l:0);
				background: #c2c5c7;
			}
		}

		&:before {
			content: '';
			@include size(70%, 40px);
			@include pos ($b: -40px, $l: 20px);
			background: #fbfcfc;
			border-bottom-left-radius: 5px;
			box-shadow: 0 6px 84px 0 rgba(172, 178, 185 , .16);
		}

		&:after {
			content: '';
			@include size(70%, 35px);
			@include pos ($b: -75px, $l: 60px);
			background: #fafbfb;
			border-bottom-left-radius: 5px;
		}
	}

	&__moreinfo-link {
		display: inline-block;
		color: #f4a019;
		text-decoration: none;
		line-height: 16px;
		margin-bottom: 70px;
		border-bottom: 1px solid #f4a019;

		&:hover {
			font-weight: 700;
		}
	}

	&__moreinfo-icon {
		display: inline-block;
		@include size(18px);
		background: url('../images/icons/mouse.png');
		margin-right: 15px;
	}

	&__document {
		display: inline-block;
	}

	&__document-link {
		display: inline-block;
		color: #3399fe;
		text-decoration: none;
		border: 1px solid #3399fe;
		border-radius: 21px;
		height: 43px;
		padding: 0 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		&:hover {
			background: $blue;
			color: #fff;
		}
	}

	&__document-icon {
		display: inline-block;
		@include size(19px, 21px);
		background: url('../images/icons/pdf.png');
		margin-right: 20px;
	}

	&__label {
		display: inline-block;
		@include size(80px, 145px);
		@include pos($t:-16px, $l:78%);
		background: #f4a019 url('../images/icons/creative.png') no-repeat center center;

		&:before {
			content: '';
			@include pos($t: 0, $r: -16px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 16px 0 0 16px;
			border-color: transparent transparent transparent #d78d17;
		}
	}

	&_slider-item {
		position: absolute;
		opacity: 0;

		&.active {
			opacity: 1;
            z-index: 20;
		}
	}
}
