.menu {
	height: 36px;
	margin-top: 13px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	cursor: pointer;

	&__burger {
		height: 36px;
		width: 24px;
		background: url('../images/icons/ham-menu.png') no-repeat center center;
		margin-left: 20px;
	}

	&__wrapper {
		width: 380px;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		background: #fff;
		padding: 60px 50px;
		z-index: 100;
		box-shadow: 0 17px 60px 0 rgba(62, 64, 69, .15);
		visibility: hidden;

		&:before {
			content: 'Закрыть';
			line-height: 28px;
			@include pos($t:9%, $l:-25%);
			width: 90px;
			display: block;
			background: url('../images/icons/cls-menu.png') no-repeat right center;

		}
	}

	&__list-item {
		margin-bottom: 10px;
		border-bottom: 1px solid #f8f8f8;
	}

	&__list-link {
		height: 100%;
		text-decoration: none;
		color: #2d2d2d;
		line-height: 55px;

		&:hover {
			color: $orange;
		}
	}
}