.testimonials {
	background: url('../images/background/curvedbg2.png') no-repeat bottom center;
	margin-top: -35px;
	padding-bottom: 100px;

	.main-title {
		margin-left: 8%;
		margin-bottom: 55px;
	}

	&__wrapper-img{
		background: #fff;
		padding: 15px;
		margin-bottom: 30px;
	}

	&__wrapper-video{
		height: 145px;
		background: #fff;
		padding: 15px;
	}
}